/* Pink: #E632A5 */
/* Teal: #51AFBF */
/* Pear: #CAE02A */
/* Orange: #FF723E */
/* Nav & footer: #212529 */
/* Light grey: #e9ecef */
/* Purple: #671179 */
/* Yellow: #e1ff39 */
/************************** Global Styles ************************************/
body {
  color: #212529;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.btn {
  border: none;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

input:active,
input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
}

#lone-wolf-total-section,
#chatterbox-total-section,
#family-total-section {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 3rem 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.plan-icon {
  width: 3.5rem;
  opacity: 0.7;
}

h1,
h2 {
  font-family: 'Quicksand', sans-serif;
}

nav img {
  height: 50px;
}

section {
  margin-bottom: 4rem;
}

/************************** Home page ************************************/
#home-plans-section .btn {
  color: white;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  width: 100%;
}

#home-plans-section a {
  color: #212529;
}

#home-plans-section .card {
  margin-bottom: 1rem;
  border: 1px solid #bbc1c5;
}

#home-plans-section h3 {
  color: #671179;
  font-weight: bold;
}

#home-lone-wolf-btn {
  background: #E632A5;
}

#home-chatterbox-btn {
  background: #51AFBF;
}

#home-family-btn {
  background: #CAE02A;
}

.jumbotron {
  min-height: 500px;
  padding: 3em 0;
  margin: 0;
  margin-bottom: 4rem;
  border-bottom: 5px solid #E0E0CE;
  background: linear-gradient(90deg, rgba(100, 54, 201, .7) 0, hsla(0, 100%, 73%, .7)), url(../images/panda-background.jpg) no-repeat 50%;
  background-size: cover;
  color: #E0E0CE;
}

.jumbotron h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3.5rem;
  margin-top: 8rem;
}

.jumbotron p {
  font-size: 1.5rem;
}

/************************** Package pages ************************************/
#lone-wolf-gb-section .lone-wolf-card,
#chatterbox-gb-section .chatterbox-gb,
#family-gb-section .family-gb {
  background: #212529;
  color: #fff;
  width: auto;
}

#lone-wolf-gb-section h2,
#chatterbox-gb-section h2,
#family-gb-section h2,
#other-plans {
  margin: 5rem 0;
}

#other-plans {
  background: #e9ecef;
  padding: 3rem 0;
}

#other-plans h4 {
  margin-bottom: 2rem;
  font-family: 'Quicksand', sans-serif;
}

#other-plans a {
  font-size: 1.5rem;
  color: #671179;
  font-weight: bold;
}

#lone-wolf-gb-section h5,
#chatterbox-gb-section h5,
#family-gb-section h5 {
  font-size: 1.5rem;
}

#lone-wolf-gb-section p,
#chatterbox-gb-section p,
#family-gb-section p {
  font-size: 1.8rem;
}

#lone-wolf-gb-section .btn,
#chatterbox-gb-section .btn,
#family-gb-section .btn {
  font-weight: bold;
}

@media screen and (min-width: 580px) {

  #lone-wolf-gb-section h5,
  #chatterbox-gb-section h5,
  #chatterbox-gb-section h5 {
    font-size: 2rem;
  }

  #lone-wolf-gb-section p,
  #chatterbox-gb-section p,
  #family-gb-section p {
    font-size: 2.8rem;
  }

  #lone-wolf-gb-section .btn,
  #chatterbox-gb-section .btn,
  #family-gb-section .btn {
    padding: 0.8rem 2.5rem;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0.5rem 0;
  }

  .plan-icon {
    width: 4rem;
  }

  .jumbotron h1 {
    font-size: 5rem;
    margin-top: 0;
  }

  .jumbotron p {
    font-size: 2rem;
  }

  .jumbotron {
    background-position: 50% 18%;
  }
}

#lone-wolf-pink-btn,
#chatterbox-pink-btn,
#family-pink-btn {
  background: #E632A5;
}

#lone-wolf-pear-btn,
#chatterbox-pear-btn,
#family-pear-btn {
  background: #CAE02A;
}

#lone-wolf-teal-btn,
#chatterbox-teal-btn,
#family-teal-btn {
  background: #51AFBF;
}

#lone-wolf-orange-btn,
#chatterbox-orange-btn,
#family-orange-btn {
  background: #FF723E;
}

#lone-wolf-frequency-section,
#lone-wolf-total-section,
#chatterbox-frequency-section,
#chatterbox-total-section,
#family-frequency-section,
#family-total-section {
  margin: 4rem 0;
}

#lone-wolf-frequency-section h2,
#chatterbox-frequency-section h2,
#family-frequency-section h2 {
  margin-bottom: 2rem;
}

#lone-wolf-summary-gb,
#chatterbox-summary-gb,
#chatterbox-summary-min {
  font-size: 2rem;
}

#lone-wolf-plan-total,
#chatterbox-plan-total,
#family-plan-total {
  font-size: 2.5rem;
}

.buy-btn {
  background: #08af08;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.8rem 2rem;
  margin-top: 2rem;
}

.frequency-btn {
  color: #212529;
  background: #fff;
  border: 2px solid #212529;
  border-radius: 2rem;
  padding: 0.3rem 5rem;
  font-size: 2rem;
  margin: 1rem 0;
}

.frequency-active {
  background: #e1ff39;
  border: none;
}

.frequency-type,
#family-plan-gb {
  font-size: 2rem;
}

#lone-wolf-gb-section .card,
#chatterbox-gb-section .card,
#family-gb-section .card {
  border: none;
}

#chatterbox-mins-section h2 {
  margin: 3rem 0;
}

.chatterbox-min {
  background: #30dccd;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1rem;
}

.chatterbox-min .btn {
  background: #212529;
  color: #30dccd;
  font-weight: bold;
}

.chatterbox-min p {
  font-size: 1.2rem;
  font-weight: bold;
}

.chatterbox-min h5 {
  font-size: 1.5rem;
}

.family-sim-number {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  background: #212529;
  border: none;
  font-size: 3rem;
  color: #fff;
  margin: 0.5rem;
}

.active {
  background: #e1ff39;
  color: #212529;
}

footer {
  background: #212529;
  color: white;
  margin-top: 2rem;
  padding: 3rem 0;
}

.fab {
  font-size: 3rem;
  color: #fff;
  margin: 0 1.5rem;
}

.legal {
  margin: 1rem 0;
}

.legal a {
  margin: 0 0.5rem;
}

#copyright {
  margin-bottom: 0;
  margin-top: 1rem;
}
