footer {
  background: #ddd;
  height: 8rem;
  margin-top: 2rem;
  padding-top: 2rem;
}


#lone-wolf-total-section,
#chatterbox-total-section,
#family-total-section{
  background: #333;
  padding: 3rem 0;
  color: white;
}

.hide {
  display: none;
}

.show {
  display: block;
}
