/* Pink: #E632A5 */
/* Teal: #51AFBF */
/* Pear: #CAE02A */
/* Orange: #FF723E */
/* Nav & footer: #212529 */
/************************** Global Styles ************************************/
body,
a {
  color: #212529;
}

a:hover {
  text-decoration: none;
  color: #212529;
}

.btn {
  border: none;
}

footer {
  background: #212529;
  color: white;
  height: 8rem;
  margin-top: 2rem;
  padding-top: 2rem;
}

#lone-wolf-total-section,
#chatterbox-total-section,
#family-total-section {
  background: #333;
  padding: 3rem 0;
  color: white;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/************************** Home page ************************************/
#home-plans-section .btn {
  color: white;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

#home-lone-wolf-btn {
  background: #E632A5;
}

#home-chatterbox-btn {
  background: #51AFBF;
}

#home-family-btn {
  background: #CAE02A;
}

/************************** LoneWolf page ************************************/
#lone-wolf-gb-section .lone-wolf-card {
  background: #212529;
  color: #fff;
  width: auto;
}

#lone-wolf-gb-section h2,
#other-plans {
  margin: 3rem 0;
}

#lone-wolf-gb-section h5 {
  font-size: 1.5rem;
}

#lone-wolf-gb-section p {
  font-size: 1.8rem;
}

#lone-wolf-gb-section .btn {
  font-weight: bold;
}

@media screen and (min-width: 580px) {
  #lone-wolf-gb-section h5 {
    font-size: 2rem;
  }

  #lone-wolf-gb-section p {
    font-size: 2.8rem;
  }

  #lone-wolf-gb-section .btn {
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0.5rem 0;
  }
}

#lone-wolf-pink-btn {
  background: #E632A5;
}

#lone-wolf-pear-btn {
  background: #CAE02A;
}

#lone-wolf-teal-btn {
  background: #51AFBF;
}

#lone-wolf-orange-btn {
  background: #FF723E;
}
